-r requirements-cmr-token.txt
-r requirements-metadata-construction.txt
-r requirements-metadata-to-cmr.txt
-r requirements-ingest.txt
-r requirements-invoke.txt
-r requirements-notify.txt
-r requirements-verify.txt
boto3
pytest
pytest-mock
ruff==0.9.5
mypy==1.14.1
